* {
  /* fonts */
  box-sizing: border-box;
}

div, nav {
  background-color: rgb(162, 162, 189);
  /* technique from https://codepen.io/hadas_segal/pen/wxePMQ */
  border: 1px solid rgb(139, 139, 187);
  color: black;
}

.float-clear {
  clear: both;
  border: 0px;
}

div {
  /* padding: 0 1%; */
  line-height: 1.5em;
  text-indent: 10px;
  
}